<div class="w3-container w3-white w3-animate-bottom text-shadow-0" style="min-height:800px">
<!--
  <div class="w3-center" style="width:300px;margin-left:auto;margin-right:auto;">
    <div class="wide-ratio bg-rochester_logo_local contain-bg-image w3-animate-bottom">
    </div>
  </div>
-->
  <div class="w3-center w3-padding">
    <div class="video-container w3-animate-bottom" style="overflow:auto">
      <iframe width="100%" height="100%" src="https://player.vimeo.com/video/238603385?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <a href="https://hightimes.com/grow/episode-9-growing-exposed-rochester-farms/" target="_blank">
      <h4 class='w3-center' style="color:black">Episode 9 of ‘Growing Exposed’—Rochester Farms</h4>
    </a>
  </div>
  <p class="w3-large w3-padding-large w3-content w3-center w3-animate-bottom">
      Our farm is a tier three producer/processor in Washington state and have been distributing product to retailers since January of 2017. We started to distribute later than most producers because we intentionally took the time to carefully plan, design, and engineer a state of the art facility that would allow us to efficiently grow high quality marijuana for you. We are now producing about five hundred pounds of flower per month. This allows us to continually provide fresh, high quality product to you at an affordable price. 
<br />
<br />
      Be sure to check us out on episode 9 of High Times: “Growing Exposed” for an inside look at our facility. The episode was filmed when we first started growing in our facility, and we’ve made several changes and improvements since. We are leaps and bounds beyond what you will see in the episode, but we appreciate the documentation of where we started.
  </p>
</div>
<!--
<a href="https://hightimes.com/grow/episode-9-growing-exposed-rochester-farms/" target="_blank">
  <h4 style="color:white">Episode 9 of ‘Growing Exposed’—Rochester Farms</h4>
</a>
<caption class="w3-display-middle">“There is more to it than saving money on labor,” Marshall explained. “Since fertigation is done through a dosing machine, each zone can be tailored to standardize the crop, and everything is recorded.”</caption>
-->
