<div class="w3-sidebar w3-bar-block w3-border-right w3-animate-right" style="display:none" id="mySidebar">
<!--    <button class="w3-bar-item w3-button fa fa-times fa-2x" onclick="w3_navToggle()"></button>-->
  <a href="#/home" class="w3-bar-item w3-button w3-xxxlarge" onclick="w3_navToggle()">Home</a>
  <a href="#/about" class="w3-bar-item w3-button w3-xxxlarge" onclick="w3_navToggle()">The Farm</a>
  <a href="#/strains" class="w3-bar-item w3-button w3-xxxlarge" onclick="w3_navToggle()">Strains</a>
  <a href="#/locations" class="w3-bar-item w3-button w3-xxxlarge" onclick="w3_navToggle()">Locations</a>
</div>
<div class="w3-bar top-bar w3-white w3-display-container w3-animate-top">
<!--      <button class="w3-button w3-xlarge w3-right nav-menu-button w3-circle w3-ripple" onclick="w3_navToggle()"></button>-->
  <button class="w3-margin-left my-nav-button w3-button w3-right fa fa-bars fa-2x" onclick="w3_navToggle()"></button>
  <div class="w3-left w3-animate-top" style="width:110px;margin-left:auto;margin-right:auto;">
    <a href="#/home"><div class="wide-ratio bg-rochester_logo_local contain-bg-image">
    </div></a>
  </div>
  <div class="w3-left w3-animate-top" style="width:110px;margin-left:auto;margin-right:auto;">
    <a href="#/home"><div class="wide-ratio bg-kronik_logo_shrink contain-bg-image">
    </div></a>
  </div>
  <div class="w3-left w3-animate-top" style="width:110px;margin-left:auto;margin-right:auto;">
    <a href="#/home"><div class="wide-ratio bg-vivid_logo contain-bg-image">
    </div></a>
  </div>
  <a href="#/locations" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-margin-right" onclick="w3_close()">RETAILER LOCATIONS</a>
  <a href="#/strains" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium" onclick="w3_close()">STRAINS</a>
  <a href="#/about" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium" onclick="w3_close()">THE FARM</a>
  <a href="#/home" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium" onclick="w3_close()">HOME</a>
</div>
<div class="w3-display-container main-view">    
  <ui-view></ui-view>
</div>

<footer id="rc-footer" class="w3-bar w3-display-container w3-white">
  <a href="#/home" class=" w3-margin-left w3-margin-right w3-btn w3-white w3-border w3-border-red w3-text-red theme-margin-1 w3-round w3-hover-red"><span class="fa fa-home w3-margin-right"></span>HOME</a>
  <a href="#/about" class=" w3-margin-left w3-margin-right w3-btn w3-white w3-border w3-border-red w3-text-red theme-margin-1 w3-round w3-hover-red"><span class="fa fa-tree w3-margin-right"></span>THE FARM</a>
  <a href="#/strains" class=" w3-margin-left w3-margin-right w3-btn w3-white w3-border w3-border-red w3-text-red theme-margin-1 w3-round w3-hover-red"><span class="fa fa-leaf w3-margin-right"></span>STRAINS</a>
  <a href="#/locations" class=" w3-margin-left w3-margin-right w3-btn w3-white w3-border w3-border-red w3-text-red theme-margin-1 w3-round w3-hover-red"><span class="fa fa-map-pin w3-margin-right"></span>RETAILER LOCATIONS</a>
  <a href="https://www.facebook.com/RochesterFarms502/" class=" w3-margin-left w3-margin-right w3-btn w3-white w3-border w3-border-indigo w3-text-indigo theme-margin-1 w3-round w3-hover-indigo"><span class="fa fa-facebook-square w3-margin-right"></span>FACEBOOK</a>
  <a href="https://www.instagram.com/rochesterfarms/" class=" w3-margin-left w3-margin-right w3-btn w3-white w3-border w3-border-pink w3-text-pink theme-margin-1 w3-round w3-hover-pink"><span class="fa fa-instagram w3-margin-right"></span>INSTAGRAM</a>
  <p class="w3-tiny w3-container w3-center w3-padding">This Product has intoxicating effects and may be habit forming. Marijuana can impair concentration, coordination and judgment. Do not operate a vehicle or machinery under the influence of this drug. There may health risks associated with consumption of this product. For use only by adults 21 and older. Keep out of the reach of children. Copyright© 2018 Rochester Farms.. All Rights Reserved. Website provided by Media Reign LLC®</p>
</footer>

<div id="id01" class="w3-modal w3-birk bg-hex-trans">
  <div class="w3-modal-content w3-animate-zoom w3-card-4 bg-inherit cover-bg-image bg-purple-flower">
    <header class="w3-container bg-inherit text-white"> 
      <div class="w3-center" style="width:200px;margin-left:auto;margin-right:auto;">
        <div class="wide-ratio bg-rochester_logo_local contain-bg-image w3-animate-bottom"></div>
      </div>
      <p class="w3-xxxlarge w3-center text-paleturquoise text-shadow-2">Are you over 21</p>
    </header>
    <div class="w3-xxxlarge text-paleturquoise text-shadow-2">
      <button class="w3-half w3-button w3-mobile bg-inherit text-shadow"
               onclick="document.getElementById('id01').style.display='none';sessionStorage.isOver21=true" >YES</button>
      <a href="http://google.com" class="w3-button w3-half w3-mobile bg-inherit">No</a>
    </div>
    <footer class="w3-container bg-inherit text-white w3-padding">
      <p class="w3-tiny w3-container w3-center w3-padding">This Product has intoxicating effects and may be habit forming. Marijuana can impair concentration, coordination and judgment. Do not operate a vehicle or machinery under the influence of this drug. There may health risks associated with consumption of this product. For use only by adults 21 and older. Keep out of the reach of children.</p>
    </footer>
  </div>
</div>