<div id="home-page">
<!--  <div class="red-drip w3-animate-top"></div>-->
  <div class="w3-display-container home-slide w3-animate-top">
    <div class="wide-ratio">
      <div class="mySlides w3-animate-fading bg-rc-carrot"></div>
      <div class="mySlides w3-animate-fading bg-rc-candy"></div>
      <div class="mySlides w3-animate-fading bg-rc-carrot"></div>
      <div class="mySlides w3-animate-fading bg-rc-seahawks"></div>
    </div>
  </div>
  <div class="w3-container w3-animate-top w3-col w3-half w3-mobile">
    <h1 class="w3-title-font"><span class="w3-border-bottom bold-6">The Farm</span></h1>
    <h5 class="theme-padding-1">Welcome to the most state of the art grow facility in Washington. Our building was designed and engineered to accomplish one goal: produce an affordable, consistently high quality product! Plain and simple, and it’s all for you, our valued customers.</h5>
    <a href="#/about" class="w3-btn w3-white w3-border w3-border-red w3-text-red theme-margin-1 w3-round w3-hover-red">LEARN MORE</a>
    <img src="https://res.cloudinary.com/highrise511/image/upload/v1520220904/rf-jar-02.jpg" alt="Lights" 
         modal-button 
         modal-id="homeFarm"
         modal-title=""
         modal-text=""
         modal-images="https://res.cloudinary.com/highrise511/image/upload/v1520220904/rf-jar-02.jpg"
         class="theme-margin-2 w3-card w3-round" style="width:100%;">
  </div>
  <div class="w3-container w3-animate-top w3-col w3-half w3-mobile">
    <h1 class="w3-title-font"><span class="w3-border-bottom bold-6">The Strains</span></h1>
    <h5 class="theme-padding-1">Whether you’re in search of an indica, sativa, hybrid or CBD dominant cannabis, we have them all.
    <span class="w3-hide-small" style="color:white;">Whether you’re in search of an indica, sativa, hybrid or CBD dominant cannabis, we have them all.
Whether you’re in search of an indica, sativa, we have them all.
</span>
    </h5>
    <a href="#/strains" class="w3-btn w3-white w3-border w3-border-red w3-text-red theme-margin-1 w3-round w3-hover-red">LEARN MORE</a>
    <img src="https://res.cloudinary.com/highrise511/image/upload/v1520220876/doublejointed.jpg" alt="Lights" 
         modal-button 
         modal-id="HomePreRolls"
         modal-title=""
         modal-text=""
         modal-images="https://res.cloudinary.com/highrise511/image/upload/v1520220876/doublejointed.jpg"
         class="theme-margin-2 w3-card w3-round" style="width:100%;">
  </div>
  <div class="w3-container">
    <h1 class=""><span class="w3-border-bottom bold-6 w3-title-font">Find our Cannabis Products</span></h1>
    <h5 class="theme-padding-1">You can find our products throughout Washington State. We are proud to have our products on the shelves in over a quarter of all retail locations and we’re continually adding more thanks to your support. You can find us in several ways at your local retailer. Be sure to look for one of our brands: Rochester Farms, Kronik Cannabis, Vivid and Reign. These brands all operate under the Rochester Farms umbrella.</h5>
    <div class="map-container w3-animate-zoom" style="overflow:auto">
      <iframe width="100%" height="100%" src="https://www.google.com/maps/d/embed?mid=13Seigls3GFgmylKYSzm_cd65tCERVGSJ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="w3-container">
    <h1 class=""><span class="w3-border-bottom bold-6 w3-title-font">JOIN THE JOURNEY WITH US</span></h1>
    <!-- LightWidget WIDGET --><iframe id="ig-widget-small" src="//lightwidget.com/widgets/404edd56b6ff55d5a1e6874a2f13d435.html" scrolling="no" allowtransparency="true" class="lightwidget-widget w3-hide-medium w3-hide-large" style="width:100%; border: 0; height:1000px;" onload="resizeIframe('ig-widget-small')"></iframe>
    <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/404edd56b6ff55d5a1e6874a2f13d435.html" scrolling="no" allowtransparency="true" class="lightwidget-widget w3-hide-small w3-hide-large" style="width:100%; border: 0; height:1200px;"></iframe>
    <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/404edd56b6ff55d5a1e6874a2f13d435.html" scrolling="no" allowtransparency="true" class="lightwidget-widget w3-hide-small w3-hide-medium" style="width:100%; border: 0; height:1600px;"></iframe>
  </div>
</div>