#home-page{
  .home-slide{
    max-height:550px;
    overflow: hidden;
//                background-color: #f44336!important;
    background-color:white;

    .mySlides{
      width:100%;
      height:100%;
      background-size:cover;
      background-position: center;
      position: absolute;
    }
  }
  a {
    text-decoration: none;
  }
  .w3-container {
    padding:1em;
    p {
      max-width:500px;
      line-height: 175%;
    }
  }
  .about-info{
//    background: url('https://previews.123rf.com/images/eugenesergeev/eugenesergeev1409/eugenesergeev140900060/31184292-white-paint-layer-on-glass-wall-background-texture-Stock-Photo.jpg');
//    background: url(https://media.istockphoto.com/vectors/crumpled-paper-vector-background-white-02-vector-id850049876);
//    background-size: cover;
    background: url('http://emergimuv.com/rc-test/imgs/lincolnsplat.jpg');
    border-style: double;
    border-width: 3px;
  }
  .photo-gal {
//    background-size: contain;
  }
  .blog-info{
    border-bottom-style: double;
    border-width: 3px;
    background: url('http://demo.cloudimg.io/s/height/800/http://emergimuv.com/rc-test/imgs/rc-farm-02-dark.jpg');
    background-size: cover;
    background-position: center;
    background-color:#313131;
    color:white;
  }
  .strain-info{
    border-top-style: double;
    border-bottom-style: double;
    border-width: 3px;
//    background-size: cover;
//    background-color:#262626;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('http://emergimuv.com/rc-test/imgs/paint_splat.png');
    color:white;
  }
  .map-info {
    background-image: url('http://emergimuv.com/rc-test/imgs/paint_splat.png');
    border-bottom-style: double;
    border-width: 3px;
    background-size: cover;
//    background-color:#aaa;
    color:white;
  }
}
