.img-text-bar {
  min-height: 125px;
  margin-top:1em;
  border-top-style: double;
  border-bottom-style: double;
  border-width: 5px;
}
.contain-bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cover-bg-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.center-bg-image {
  background-position: center;
}
.bg-hex-trans {
  background-image: url('http://demo.cloudimg.io/s/height/400/http://emergimuv.com/rc-test/imgs/hex_trans.png');
}
.bg-inherit {
  background-color: inherit;
}
.bg-mediareign_square {
  background-image: url('http://demo.cloudimg.io/s/height/800/http://emergimuv.com/rc-test/imgs/mediareign.jpg');
}
.bg-mediareign_logo {
  background-image: url('http://emergimuv.com/rc-test/imgs/mr.png');
  filter: drop-shadow(0px 0px 12px #222 );
  -webkit-filter: drop-shadow(0px 0px 12px #222 );
}
.bg-rochester_logo_local {
  background-image: url('http://emergimuv.com/rc-test/imgs/rochester_logo_trans.gif');
}
.bg-rochester_logo {
  background-image: url('http://emergimuv.com/rc-test/imgs/rochester_logo_trans.gif');
}
.bg-kronik_logo {
  background-image: url('http://emergimuv.com/rc-test/imgs/kronik_logo.png');
}
.bg-kronik_logo_shrink {
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520222706/kronik_logo_shrink.jpg');
}
.bg-vivid_logo {
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520488043/v1.png');
}
.bg-purple-flower {
  background-image: url('http://emergimuv.com/rc-test/imgs/purple-flower-dark.jpg');
}
.bg-rc-farm{
  background-image: url('http://emergimuv.com/rc-test/imgs/rc-kronik.jpg');
}
.bg-rc-carrot{
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520220545/rc-carrot.jpg');
}
.bg-rc-candy{
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520220518/rc-candy.jpg');
}
.bg-rc-seahawks{
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520220568/rc-seahawks.jpg');
}
.bg-rc-farm-02{
  background-image: url('http://emergimuv.com/rc-test/imgs/rc-farm-02.jpg');
}
.bg-rc-farm-02-dark{
  background-image: url('http://emergimuv.com/rc-test/imgs/rc-farm-02-dark.jpg');
}
.bg-BlackCherryOunces_RochesterFarms01{
  background-image: url('http://emergimuv.com/rc-test/imgs/BlackCherryOunces_RochesterFarms01.jpg');
}
.bg-HuckleBerrySodaOunce_RochesterFarms02{
  background-image: url('http://emergimuv.com/rc-test/imgs/HuckleBerrySodaOunce_RochesterFarms02.jpg');
}
.bg-RochesterFarms_HuckleberrySoda{
  background-image: url('http://emergimuv.com/rc-test/imgs/RochesterFarms_HuckleberrySoda.jpg');
}
.bg-cement_wide {
  background-image: url('http://emergimuv.com/rc-test/imgs/cement_wide.png');
}
.bg-tile-bbtw01{
  background-image: url('http://emergimuv.com/rc-test/imgs/bbtw-tile01.jpg');
}
.bg-tile-bcs01{
  background-image: url('http://emergimuv.com/rc-test/imgs/bcs-tile01.jpg');
}
.bg-tile-bcs02{
  background-image: url('http://emergimuv.com/rc-test/imgs/bcs-tile02.jpg');
}
.bg-tile-pp01{
  background-image: url('http://emergimuv.com/rc-test/imgs/pp-tile01.jpg');
}
.bg-red-state01 {
  background-image: url('http://emergimuv.com/rc-test/imgs/state_red.svg');
}
.bg-black-smoke {
  background-image: url("http://emergimuv.com/rc-test/imgs/black_smoke.jpg");
}
.bg-doublejointed {
  background-image: url("http://emergimuv.com/rc-test/imgs/doublejointed.jpg");
}
.bg-sex-sells {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://emergimuv.com/rc-test/imgs/sex-sells.png");
}
.bg-paint-splat {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://emergimuv.com/rc-test/imgs/paint_splat.png");
}
.bg-ink-splat {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://emergimuv.com/rc-test/imgs/ink_splat.png");
}
.bg-test-thumb {
  background-image: url("http://emergimuv.com/rc-test/imgs/seamless_camo.jpg");
}
.bg-rc-jar-01 {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-01.jpg");
}
.bg-rc-jar-02 {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-02.jpg");
}
.bg-rc-jar-03 {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-03.jpg");
}
.bg-rc-jar-04 {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-04.jpg");
}
.bg-rc-jar-04-soft {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-04-soft.jpg");
}
.bg-oily {
  background-image: url("http://emergimuv.com/rc-test/imgs/oily.jpg");
}
.bg-caviarball {
  background-image: url("http://emergimuv.com/rc-test/imgs/caviarballs.jpg");
}
.bg-bud-bbt {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_bbt.jpg");
}
.bg-bud-bcs {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_bcs.jpg");
}
.bg-bud-hbs {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_hbs.jpg");
}
.bg-bud-pp {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_pp.jpg");
}
.bg-bud-pl {
  background-image: url("http://demo.cloudimg.io/s/height/900/http://emergimuv.com/rc-test/imgs/bud_pl.jpg");
}
.bg-drip-gc {
  background-image: url("https://res.cloudinary.com/highrise511/image/upload/v1520219979/drip_gc.jpg");
}
.bg-drip-hs {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219911/drip_hs.jpg");
}
.bg-bud-prism {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_prism.jpg");
}
.bg-plant-gc {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219871/plant_gc.jpg");
}
.bg-bud-sm {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_sm.jpeg");
}
.bg-bud-sc {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_sc.jpeg");
}
.bg-farm-sog {
  background-image: url("http://emergimuv.com/rc-test/imgs/farm_sog.jpg");
}
.bg-plant-pp {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219840/plant_pp.jpg");
}
.bg-plant-pl {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219955/plant_pl.jpg");
}
.bg-plant-sog {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219932/plant_sog.jpg");
}
