html, body {
    margin: 0;
    height: 100%;
  font-family: 'Montserrat', sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
  }
    .w3-myfont {
//        font-family: 'Ubuntu', sans-serif;
      font-family: 'Oswald', sans-serif;
        font-weight:bold;
    }
    .w3-birk {
//        font-family: 'Berkshire Swash', cursive;
      font-family: 'Oswald', sans-serif;
    }
    .w3-title-font {
        font-family: 'Montserrat', sans-serif;
    }
    .w3-modal {
      padding-top:1em;
    }
//    background: url('/app/imgs/goyard-black-dark.jpg') no-repeat; 
//            -webkit-background-size: cover;
//            -moz-background-size: cover;
//            -o-background-size: cover;
//            background-size: cover;
}
#rochester {
  height:100%;
  
  #mySidebar{
      padding-top: 110px;
//      background-image: url('http://demo.cloudimg.io/s/height/900/http://emergimuv.com/rc-test/imgs/menu-01.png');
      background-size: cover;
      a {
          text-align: center;
          text-shadow: 2px 2px #ffffff;
          background-color: initial;
          color:#4d0606;
      }
  } 
  #rc-footer {
//    .fa-facebook-square {
//      position: absolute;
//      top: .25em;
//      left: .25em;
//    }
    .brands {
      padding-bottom:1em;
    }
  }
  .red-drip {
    top:9px;
    height:120px;
    width:100%;
    position:absolute;
    background: url('http://demo.cloudimg.io/s/height/200/http://emergimuv.com/rc-test/imgs/red-drip-trans.png');
    z-index: 1;
    background-size: contain;
  }
  .nav-menu-button{
    position:fixed;
    right:10px;
    top:10px;
    background: url('imgs/green-leaf-icon.png');
    background-size: cover;
    height:50px;
    width: 50px;
  }
    .main-view{
        padding:85px 0px 0px;
        min-height: 300px;
//        background: url('http://demo.cloudimg.io/s/height/800/http://emergimuv.com/rc-test/imgs/goyard-black-dark.jpg') no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;      
    }
    .top-bar{
      position:fixed;
      z-index: 2;
      height: 85px;
      a.w3-bar-item.w3-button.w3-right {
          position: relative;
          top: 30%;
      }
      .my-nav-button {
        height:100%;
      }
    }
    .menu-header{
        text-align: center;
        margin: 0px;
    }
    .w3-red {
        background-color:#e22828 !important
    }
}
.text-shadow-0{
  text-shadow: 0px 0px 1px rgba(111,111,111,.5);
}
.text-shadow-1{
  text-shadow: 1px 1px 1px rgba(111,111,111,.5);
}
.text-shadow-2{
  text-shadow: 2px 2px 2px rgba(111,111,111,.5);
}
.text-shadow-dark-1 {
    text-shadow: 1px 1px 1px rgba(20, 20, 20, 0.75);
}
.text-shadow-dark-2 {
    text-shadow: 2px 2px 2px rgba(20, 20, 20, 0.75);
}
.text-white {
  color:white;
}
.text-black {
  color:black;
}
.text-paleturquoise {
  color:paleturquoise;
}
.bold-4 {
  font-weight:400;
}
.bold-5 {
  font-weight:500;
}
.bold-6 {
  font-weight:600;
}
.theme-padding-1 {
  padding-top: 1em;
}
.theme-margin-1 {
  margin-top: 1em;
}
.theme-margin-2 {
  margin-top: 2em;
}
.footer-warning {
//  background-color: #f4f4f6;
  margin: 0px;
  position: relative;
  top: -6px;
  padding:2em;
}
.map-container {
	position:relative;
	padding-bottom:100%;
//	padding-top:30px;
	height:0;
	overflow:hidden;
}
.map-container iframe, .map-container object, .map-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
//	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.full-ratio{
  width: 100%;
  padding-bottom: 100%;
}
.wide-ratio{
  width: 100%;
  padding-bottom: 75%;
}
.go-to-top {
  position: absolute;
  right: 1em;
  top: 1em;
}
.center-float-text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%
}