.img-text-bar {
  min-height: 125px;
  margin-top:1em;
  border-top-style: double;
  border-bottom-style: double;
  border-width: 5px;
}
.contain-bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cover-bg-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.center-bg-image {
  background-position: center;
}
.bg-hex-trans {
  background-image: url('http://demo.cloudimg.io/s/height/400/http://emergimuv.com/rc-test/imgs/hex_trans.png');
}
.bg-inherit {
  background-color: inherit;
}
.bg-mediareign_square {
  background-image: url('http://demo.cloudimg.io/s/height/800/http://emergimuv.com/rc-test/imgs/mediareign.jpg');
}
.bg-mediareign_logo {
  background-image: url('http://emergimuv.com/rc-test/imgs/mr.png');
  filter: drop-shadow(0px 0px 12px #222 );
  -webkit-filter: drop-shadow(0px 0px 12px #222 );
}
.bg-rochester_logo_local {
  background-image: url('http://emergimuv.com/rc-test/imgs/rochester_logo_trans.gif');
}
.bg-rochester_logo {
  background-image: url('http://emergimuv.com/rc-test/imgs/rochester_logo_trans.gif');
}
.bg-kronik_logo {
  background-image: url('http://emergimuv.com/rc-test/imgs/kronik_logo.png');
}
.bg-kronik_logo_shrink {
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520222706/kronik_logo_shrink.jpg');
}
.bg-vivid_logo {
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520488043/v1.png');
}
.bg-purple-flower {
  background-image: url('http://emergimuv.com/rc-test/imgs/purple-flower-dark.jpg');
}
.bg-rc-farm{
  background-image: url('http://emergimuv.com/rc-test/imgs/rc-kronik.jpg');
}
.bg-rc-carrot{
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520220545/rc-carrot.jpg');
}
.bg-rc-candy{
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520220518/rc-candy.jpg');
}
.bg-rc-seahawks{
  background-image: url('https://res.cloudinary.com/highrise511/image/upload/v1520220568/rc-seahawks.jpg');
}
.bg-rc-farm-02{
  background-image: url('http://emergimuv.com/rc-test/imgs/rc-farm-02.jpg');
}
.bg-rc-farm-02-dark{
  background-image: url('http://emergimuv.com/rc-test/imgs/rc-farm-02-dark.jpg');
}
.bg-BlackCherryOunces_RochesterFarms01{
  background-image: url('http://emergimuv.com/rc-test/imgs/BlackCherryOunces_RochesterFarms01.jpg');
}
.bg-HuckleBerrySodaOunce_RochesterFarms02{
  background-image: url('http://emergimuv.com/rc-test/imgs/HuckleBerrySodaOunce_RochesterFarms02.jpg');
}
.bg-RochesterFarms_HuckleberrySoda{
  background-image: url('http://emergimuv.com/rc-test/imgs/RochesterFarms_HuckleberrySoda.jpg');
}
.bg-cement_wide {
  background-image: url('http://emergimuv.com/rc-test/imgs/cement_wide.png');
}
.bg-tile-bbtw01{
  background-image: url('http://emergimuv.com/rc-test/imgs/bbtw-tile01.jpg');
}
.bg-tile-bcs01{
  background-image: url('http://emergimuv.com/rc-test/imgs/bcs-tile01.jpg');
}
.bg-tile-bcs02{
  background-image: url('http://emergimuv.com/rc-test/imgs/bcs-tile02.jpg');
}
.bg-tile-pp01{
  background-image: url('http://emergimuv.com/rc-test/imgs/pp-tile01.jpg');
}
.bg-red-state01 {
  background-image: url('http://emergimuv.com/rc-test/imgs/state_red.svg');
}
.bg-black-smoke {
  background-image: url("http://emergimuv.com/rc-test/imgs/black_smoke.jpg");
}
.bg-doublejointed {
  background-image: url("http://emergimuv.com/rc-test/imgs/doublejointed.jpg");
}
.bg-sex-sells {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://emergimuv.com/rc-test/imgs/sex-sells.png");
}
.bg-paint-splat {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://emergimuv.com/rc-test/imgs/paint_splat.png");
}
.bg-ink-splat {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://emergimuv.com/rc-test/imgs/ink_splat.png");
}
.bg-test-thumb {
  background-image: url("http://emergimuv.com/rc-test/imgs/seamless_camo.jpg");
}
.bg-rc-jar-01 {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-01.jpg");
}
.bg-rc-jar-02 {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-02.jpg");
}
.bg-rc-jar-03 {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-03.jpg");
}
.bg-rc-jar-04 {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-04.jpg");
}
.bg-rc-jar-04-soft {
  background-image: url("http://emergimuv.com/rc-test/imgs/rf-jar-04-soft.jpg");
}
.bg-oily {
  background-image: url("http://emergimuv.com/rc-test/imgs/oily.jpg");
}
.bg-caviarball {
  background-image: url("http://emergimuv.com/rc-test/imgs/caviarballs.jpg");
}
.bg-bud-bbt {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_bbt.jpg");
}
.bg-bud-bcs {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_bcs.jpg");
}
.bg-bud-hbs {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_hbs.jpg");
}
.bg-bud-pp {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_pp.jpg");
}
.bg-bud-pl {
  background-image: url("http://demo.cloudimg.io/s/height/900/http://emergimuv.com/rc-test/imgs/bud_pl.jpg");
}
.bg-drip-gc {
  background-image: url("https://res.cloudinary.com/highrise511/image/upload/v1520219979/drip_gc.jpg");
}
.bg-drip-hs {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219911/drip_hs.jpg");
}
.bg-bud-prism {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_prism.jpg");
}
.bg-plant-gc {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219871/plant_gc.jpg");
}
.bg-bud-sm {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_sm.jpeg");
}
.bg-bud-sc {
  background-image: url("http://emergimuv.com/rc-test/imgs/bud_sc.jpeg");
}
.bg-farm-sog {
  background-image: url("http://emergimuv.com/rc-test/imgs/farm_sog.jpg");
}
.bg-plant-pp {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219840/plant_pp.jpg");
}
.bg-plant-pl {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219955/plant_pl.jpg");
}
.bg-plant-sog {
  background-image: url("http://demo.cloudimg.io/s/height/900/https://res.cloudinary.com/highrise511/image/upload/v1520219932/plant_sog.jpg");
}

html, body {
    margin: 0;
    height: 100%;
  font-family: 'Montserrat', sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
  }
    .w3-myfont {
//        font-family: 'Ubuntu', sans-serif;
      font-family: 'Oswald', sans-serif;
        font-weight:bold;
    }
    .w3-birk {
//        font-family: 'Berkshire Swash', cursive;
      font-family: 'Oswald', sans-serif;
    }
    .w3-title-font {
        font-family: 'Montserrat', sans-serif;
    }
    .w3-modal {
      padding-top:1em;
    }
//    background: url('/app/imgs/goyard-black-dark.jpg') no-repeat; 
//            -webkit-background-size: cover;
//            -moz-background-size: cover;
//            -o-background-size: cover;
//            background-size: cover;
}
#rochester {
  height:100%;
  
  #mySidebar{
      padding-top: 110px;
//      background-image: url('http://demo.cloudimg.io/s/height/900/http://emergimuv.com/rc-test/imgs/menu-01.png');
      background-size: cover;
      a {
          text-align: center;
          text-shadow: 2px 2px #ffffff;
          background-color: initial;
          color:#4d0606;
      }
  } 
  #rc-footer {
//    .fa-facebook-square {
//      position: absolute;
//      top: .25em;
//      left: .25em;
//    }
    .brands {
      padding-bottom:1em;
    }
  }
  .red-drip {
    top:9px;
    height:120px;
    width:100%;
    position:absolute;
    background: url('http://demo.cloudimg.io/s/height/200/http://emergimuv.com/rc-test/imgs/red-drip-trans.png');
    z-index: 1;
    background-size: contain;
  }
  .nav-menu-button{
    position:fixed;
    right:10px;
    top:10px;
    background: url('imgs/green-leaf-icon.png');
    background-size: cover;
    height:50px;
    width: 50px;
  }
    .main-view{
        padding:85px 0px 0px;
        min-height: 300px;
//        background: url('http://demo.cloudimg.io/s/height/800/http://emergimuv.com/rc-test/imgs/goyard-black-dark.jpg') no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;      
    }
    .top-bar{
      position:fixed;
      z-index: 2;
      height: 85px;
      a.w3-bar-item.w3-button.w3-right {
          position: relative;
          top: 30%;
      }
      .my-nav-button {
        height:100%;
      }
    }
    .menu-header{
        text-align: center;
        margin: 0px;
    }
    .w3-red {
        background-color:#e22828 !important
    }
}
.text-shadow-0{
  text-shadow: 0px 0px 1px rgba(111,111,111,.5);
}
.text-shadow-1{
  text-shadow: 1px 1px 1px rgba(111,111,111,.5);
}
.text-shadow-2{
  text-shadow: 2px 2px 2px rgba(111,111,111,.5);
}
.text-shadow-dark-1 {
    text-shadow: 1px 1px 1px rgba(20, 20, 20, 0.75);
}
.text-shadow-dark-2 {
    text-shadow: 2px 2px 2px rgba(20, 20, 20, 0.75);
}
.text-white {
  color:white;
}
.text-black {
  color:black;
}
.text-paleturquoise {
  color:paleturquoise;
}
.bold-4 {
  font-weight:400;
}
.bold-5 {
  font-weight:500;
}
.bold-6 {
  font-weight:600;
}
.theme-padding-1 {
  padding-top: 1em;
}
.theme-margin-1 {
  margin-top: 1em;
}
.theme-margin-2 {
  margin-top: 2em;
}
.footer-warning {
//  background-color: #f4f4f6;
  margin: 0px;
  position: relative;
  top: -6px;
  padding:2em;
}
.map-container {
	position:relative;
	padding-bottom:100%;
//	padding-top:30px;
	height:0;
	overflow:hidden;
}
.map-container iframe, .map-container object, .map-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
//	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.full-ratio{
  width: 100%;
  padding-bottom: 100%;
}
.wide-ratio{
  width: 100%;
  padding-bottom: 75%;
}
.go-to-top {
  position: absolute;
  right: 1em;
  top: 1em;
}
.center-float-text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%
}
#home-page{
  .home-slide{
    max-height:550px;
    overflow: hidden;
//                background-color: #f44336!important;
    background-color:white;

    .mySlides{
      width:100%;
      height:100%;
      background-size:cover;
      background-position: center;
      position: absolute;
    }
  }
  a {
    text-decoration: none;
  }
  .w3-container {
    padding:1em;
    p {
      max-width:500px;
      line-height: 175%;
    }
  }
  .about-info{
//    background: url('https://previews.123rf.com/images/eugenesergeev/eugenesergeev1409/eugenesergeev140900060/31184292-white-paint-layer-on-glass-wall-background-texture-Stock-Photo.jpg');
//    background: url(https://media.istockphoto.com/vectors/crumpled-paper-vector-background-white-02-vector-id850049876);
//    background-size: cover;
    background: url('http://emergimuv.com/rc-test/imgs/lincolnsplat.jpg');
    border-style: double;
    border-width: 3px;
  }
  .photo-gal {
//    background-size: contain;
  }
  .blog-info{
    border-bottom-style: double;
    border-width: 3px;
    background: url('http://demo.cloudimg.io/s/height/800/http://emergimuv.com/rc-test/imgs/rc-farm-02-dark.jpg');
    background-size: cover;
    background-position: center;
    background-color:#313131;
    color:white;
  }
  .strain-info{
    border-top-style: double;
    border-bottom-style: double;
    border-width: 3px;
//    background-size: cover;
//    background-color:#262626;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('http://emergimuv.com/rc-test/imgs/paint_splat.png');
    color:white;
  }
  .map-info {
    background-image: url('http://emergimuv.com/rc-test/imgs/paint_splat.png');
    border-bottom-style: double;
    border-width: 3px;
    background-size: cover;
//    background-color:#aaa;
    color:white;
  }
}

#locations {
  .header {
    background-color: #4d6a79;
    height: 75px;
    top:-20px;
//    z-index: 1;
  }
  .map-container {
//    z-index: 0;
    top:-20px;
  }
}

#strains {
  .flower-thumb{
    height: 100px;
    width: 100px;
  }
  .flower-text {
    padding:.5em;
    position: relative;
    bottom: 2em;
  }
  .w3-birk > .w3-panel{
//    background-image: url("http://emergimuv.com/rc-test/imgs/ink_splat.png");
  }
  .w3-modal{
    padding-top:5em;
  }
  .w3-black {
    background-color: #000000ba!important;
  }
  .w3-blue{
    background-color: #7ac0f9d1!important;
  }
  .w3-green {
    background-color: #90c192d1!important;
  }
  .w3-red {
    background-color: #d25353d1!important;
  }
  .w3-purple{
    background-color: #b152c1d1!important;
  }
  .prod-info{
    border-bottom-style: double;
    border-width: 3px;
    background: url('http://demo.cloudimg.io/s/height/800/http://emergimuv.com/rc-test/imgs/rc-farm-02-dark.jpg');
    background-size: cover;
    background-position: center;
    background-color:#313131;
    color:white;
  }
  .mySlides{
    width:100%;
    height:100%;
    background-size:cover;
    background-position: center;
    position: absolute;
  }
}