#strains {
  .flower-thumb{
    height: 100px;
    width: 100px;
  }
  .flower-text {
    padding:.5em;
    position: relative;
    bottom: 2em;
  }
  .w3-birk > .w3-panel{
//    background-image: url("http://emergimuv.com/rc-test/imgs/ink_splat.png");
  }
  .w3-modal{
    padding-top:5em;
  }
  .w3-black {
    background-color: #000000ba!important;
  }
  .w3-blue{
    background-color: #7ac0f9d1!important;
  }
  .w3-green {
    background-color: #90c192d1!important;
  }
  .w3-red {
    background-color: #d25353d1!important;
  }
  .w3-purple{
    background-color: #b152c1d1!important;
  }
  .prod-info{
    border-bottom-style: double;
    border-width: 3px;
    background: url('http://demo.cloudimg.io/s/height/800/http://emergimuv.com/rc-test/imgs/rc-farm-02-dark.jpg');
    background-size: cover;
    background-position: center;
    background-color:#313131;
    color:white;
  }
  .mySlides{
    width:100%;
    height:100%;
    background-size:cover;
    background-position: center;
    position: absolute;
  }
}