<div id="strains" class="text-shadow-0">
  <div class="w3-display-container home-slide w3-animate-top">
    <div class="wide-ratio w3-card">
      <div class="mySlides w3-animate-fading bg-plant-pp"></div>
      <div class="mySlides w3-animate-fading bg-plant-gc"></div>
      <div class="mySlides w3-animate-fading bg-drip-hs"></div>
      <div class="mySlides w3-animate-fading bg-plant-sog"></div>
      <div class="mySlides w3-animate-fading bg-plant-pl"></div>
      <div class="mySlides w3-animate-fading bg-drip-gc"></div>
    </div>
  </div>
  <h1 class="w3-panel w3-animate-left w3-title-font"><span class="w3-border-bottom bold-5">THE HERB</span></h1>
  <div class="w3-panel w3-ripple w3-col l4 w3-mobile w3-animate-top" 
         ng-repeat="strain in strainData"
         modal-button 
         modal-id="{{stateBase + strain.cd}}"
         modal-title="{{strain.name}}"
         modal-text="{{strain.description}}"
         modal-images="{{strain.thumbUrl}}" 
         >
    <img ng-src="{{strain.thumbUrl}}" 
         class="theme-margin-2 w3-card w3-round w3-hover-sepia" style="width:100%;">
    <h5 class="w3-title-font"><span class="w3-border-bottom bold-5">{{strain.name}}</span></h5>
    <h6 class="theme-padding-1">{{strain.description}}</h6>
  </div>
</div>