<div class="w3-container about-info w3-animate-bottom text-shadow-1">
  <div class="w3-center" style="width:300px;margin-left:auto;margin-right:auto;">
    <div class="wide-ratio bg-rochester_logo_local contain-bg-image w3-animate-bottom">
    </div>
  </div>
  <p class="w3-large w3-padding-large w3-content w3-center w3-animate-bottom">
      Site Under Construction... Coming Soon...
  </p>
</div>