<div id="{{modalId}}" class="w3-modal w3-black" style="z-index:99"  ng-click="hideshow(modalId);event.stopPropagation();">
  <div class="w3-modal-content w3-animate-zoom w3-black" style="max-width:500px">
    <span class="w3-text-white w3-xxlarge w3-hover-red w3-container w3-display-topright"
                   style="z-index:3;cursor:pointer">×</span>
    <div class="w3-row w3-black w3-center">
      <div class="w3-display-container">
        <div id="imageModalTitle" class="w3-xlarge w3-padding">{{modalTitle}}</div>
      </div>
    </div>
    <div class="w3-content">
      <img id="imageModalImg" style="width:100%" ng-src="{{modalImages}}" class="w3-card">
    </div>
    <div class="w3-row w3-black w3-center">
      <div class="w3-display-container">
<!--
      <span class="w3-display-left w3-btn" onclick="plusDivs(-1)">❮</span>
      <span class="w3-display-right w3-btn" onclick="plusDivs(1)">❯</span>
-->
        <p id="imageModalText">{{modalText}}</p>
      </div>
<!--
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="img_nature_wide.jpg" style="width:100%" onclick="currentDiv(1)" alt="Nature and sunrise">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="img_fjords_wide.jpg" style="width:100%" onclick="currentDiv(2)" alt="Trolltunga, Norway">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="img_mountains_wide.jpg" style="width:100%" onclick="currentDiv(3)" alt="Mountains and fjords">
      </div>
-->
    </div> <!-- End row -->
  </div> <!-- End modal content -->
</div> <!-- End modal -->